html {
    text-align: center;
    background-color: coral;
}

section{
 background-color: coral;   
}

#myCarousel {
    background-color: coral;
}

img {
    height:300px;
    width:200px;
    
}